body
{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

}

.navbar ul li
{
    padding: 2px 4px;
    font-size: 19px;

}

.active

{

    background-color: yellowgreen;
    padding: 5px 10px;
}



#half-circle
{
    width: 100%;
    height: 250px;
    background-color: orange;
    border-radius:100%;
}
